In [497]:
# add a new column called 'new cases'
# this will count the increase in new cases (per day) instead of the total cumulative value
df2 = df.groupby(['country','date'])['confirmed'].sum().diff()
df2.head()
df2 = df2.reset_index()
df2.loc[df2.confirmed<0,'confirmed'] =0 
df2= df2.fillna(0)
df['new_cases'] = df2['confirmed']
df.head()

,country,date,confirmed,deaths,recovered,population,density,median_age,urban_pop,keywords,new_cases
0,Afghanistan,2020-02-24,1.0,0.0,0.0,38928346.0,60.0,18.0,0.25,nan,0.0
1,Afghanistan,2020-02-25,1.0,0.0,0.0,38928346.0,60.0,18.0,0.25,nan,0.0
2,Afghanistan,2020-02-26,1.0,0.0,0.0,38928346.0,60.0,18.0,0.25,nan,0.0
3,Afghanistan,2020-02-27,1.0,0.0,0.0,38928346.0,60.0,18.0,0.25,nan,0.0
4,Afghanistan,2020-02-28,1.0,0.0,0.0,38928346.0,60.0,18.0,0.25,nan,0.0